Repository tihlde/Lepton, pull requests merged in 2020-10, with the labels that each got.

#160 chore(make): update fixtures so it works when running make fresh
  app/fixture.json
Labels: bug

#158 test(event): implement event integration tests
  .github/workflows/pull_request_actions.yaml
  .gitignore
  app/content/factories/__init__.py
  app/content/factories/registration_factory.py
  app/content/serializers/__init__.py
  app/content/serializers/event.py
  app/content/views/event.py
  app/tests/conftest.py
  app/tests/test_event_integration.py
  codecov.yml
  makefile
  setup.cfg
Labels: test

#180 feat(registration): add users email to registration api response
  app/content/serializers/registration.py
Labels: enhancement, refactor

#151 test(registration): add unittests for registration model
  app/content/factories/user_factory.py
  app/content/models/registration.py
  app/content/tests/test_registration_model.py
  app/content/tests/test_user_event_model.py
Labels: refactor, test

#178 test(registration): add integration tests for registration
  app/content/enums.py
  app/content/permissions/permissions.py
  app/content/tests/test_wiki_integration.py
  app/content/views/registration.py
  app/tests/conftest.py
  app/tests/test_event_integration.py
  app/tests/test_registration_integration.py
  app/util/test_utils.py
Labels: test

#199 chore: improve docker build speed
  Dockerfile
Labels: build
